@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTILOS GENERALES */
body {
  @apply bg-gray-light text-gray-dark;
}

/* ------------------------------------------------------------ */

/* FONTS */
@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../assets/fonts/Inter.ttf) format("woff2");
  }
}
/* ------------------------------------------------------------ */

@layer components {

  /* ESTILO PARA BOTONES E INPUTS */
  .primary-button {
    @apply bg-yellow-primary text-gray-dark p-4 rounded-lg font-semibold cursor-pointer hover:bg-yellow-secondary;
  }
  .secondary-button{
    @apply bg-gray-dark text-white p-4 rounded-lg font-medium cursor-pointer hover:bg-gray-700;
  }
  .input-text {
    @apply bg-white p-4 rounded-lg text-gray-dark;
  }
  .btn-peticiones{
    @apply bg-yellow-secondary p-10 rounded-lg font-bold block hover:bg-yellow-primary transition-all duration-300
  }
  /* ------------------------------------------------------------ */

  /* CLASE QUE CONTROLA EN QUE PARTE DEL MENU ESTA FUNCIONA CON REACT ROUTER */
  .active {
    @apply bg-yellow-secondary;
  }
  /* ------------------------------------------------------------ */

  /* ESTILOS PARA TITULO Y SUBTITULOS */
  .title {
    @apply text-3xl font-semibold;
  }

  .subtitle {
    @apply text-lg;
  }
  /* ------------------------------------------------------------ */

  /* BUTTONS STATES */
  .btn-accepted {
    @apply bg-green-light rounded-md px-4 py-2 text-sm;
  }

  .btn-refused {
    @apply bg-yellow-secondary px-4 py-2 rounded-md text-sm;
  }

  .btn-pending {
    @apply bg-yellow-primary px-4 py-2 rounded-md text-sm;
  }

  .btn-canceled {
    @apply bg-red-light px-4 py-2 rounded-md text-sm;
  }
  /* ------------------------------------------------------------ */

  .message{
    @apply bg-gray-300 grid place-items-center text-center p-10 rounded-lg
  }
}